

body {
font-family: sans-serif
}

#root{
  text-align: center
}

h1 {
color: #009900
}

.start-button {
  background-color: black;
  text-align: center;
  color: white;
  padding: 15px 32px;
  display: inline-block;
  font-size: 24px;
  cursor: pointer;
  margin: 4px 2px;
}
